#!name = Locket Gold
#!desc = Up Locket Gold (Coppyright by anhtuaan(cmstdev))
#!author = Anh Tuấn (cmstdev)

[Header Rewrite]
# Xóa header RevenueCat để tránh bị phát hiện
^https?://api.revenuecat.com/.+/(receipts$|subscribers/?(.*?)*$) header-del x-revenuecat-etag
^https?://api.revenuecat.com/.+/(receipts$|subscribers/?(.*?)*$) header-del X-RevenueCat-ETag

[Script]
# Locket - RevenueCat Script
revenuecat = type=http-response,pattern=^https:\/\/api\.revenuecat\.com\/.+\/(receipts$|subscribers\/[^/]+$),requires-body=true,max-size=-1,timeout=60,script-path=https://raw.githubusercontent.com/cmstdev08/crackapppre/refs/heads/master/modulebyanhtuaan/uplocketgold.js

# Locket - Xóa header bổ sung
deleteHeader = type=http-request,pattern=^https:\/\/api\.revenuecat\.com\/.+\/(receipts|subscribers),script-path=https://raw.githubusercontent.com/cmstdev08/crackapppre/refs/heads/master/modulebyanhtuaan/deleteheader.js,timeout=60

[MITM]
hostname = %APPEND%, api.revenuecat.com